
## <summary>policy for redspace</summary>


########################################
## <summary>
##	Transition to redspace.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`redspace_domtrans',`
	gen_require(`
		type redspace_t, redspace_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, redspace_exec_t, redspace_t)
')


########################################
## <summary>
##	Execute redspace server in the redspace domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`redspace_initrc_domtrans',`
	gen_require(`
		type redspace_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, redspace_initrc_exec_t)
')


########################################
## <summary>
##	Search redspace lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`redspace_search_lib',`
	gen_require(`
		type redspace_var_lib_t;
	')

	allow $1 redspace_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read redspace lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`redspace_read_lib_files',`
	gen_require(`
		type redspace_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, redspace_var_lib_t, redspace_var_lib_t)
')

########################################
## <summary>
##	Manage redspace lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`redspace_manage_lib_files',`
	gen_require(`
		type redspace_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, redspace_var_lib_t, redspace_var_lib_t)
')

########################################
## <summary>
##	Manage redspace lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`redspace_manage_lib_dirs',`
	gen_require(`
		type redspace_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, redspace_var_lib_t, redspace_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a redspace environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`redspace_admin',`
	gen_require(`
		type redspace_t;
		type redspace_initrc_exec_t;
		type redspace_var_lib_t;
	')

	allow $1 redspace_t:process { ptrace signal_perms };
	ps_process_pattern($1, redspace_t)

	redspace_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 redspace_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, redspace_var_lib_t)

')

